<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Exam 1</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-LgHrBVw7Pf+QYxTJwvfvK21Lp9R5k2FdN5FpOzdWt8EkoSkbveT2WlPbUrSe3nGoezS/76qCjOsLhF1MVARekg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h3 class="mb-3">Question 1:</h3>
        <p class="lead mb-0">This is the question statement for Question 1.</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="card bg-light border-0 mb-3">
          <div class="card-body">
            <label class="d-block mb-3">
              <input type="radio" name="question1" value="optionA">
              Option A
            </label>
            <label class="d-block mb-3">
              <input type="radio" name="question1" value="optionB">
              Option B
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-light border-0 mb-3">
          <div class="card-body">
            <label class="d-block mb-3">
              <input type="radio" name="question1" value="optionC">
              Option C
            </label>
            <label class="d-block mb-3">
              <input type="radio" name="question1" value="optionD">
              Option D
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-fLAVVM9YQMsd6xN/h6Qs9pZr+sOVBykIyK5fNB1YvX2lMk8wFTJlvO7/f/nGhbtOySRuPcjU02RGLjEhgS9x3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js" integrity="sha512-I4tWo6Wz9k9aSSULyNx31nFm5iKusVJVEFZXwuSQq5a+IK07ScBcNwkmvSHOyyzTmAFUl3TL9o2cvVFzImRSbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-bb3lg+VZzEvqRmYKJGQ7uPxtbxOJfnnAIp1XvNMOsYrS9A3Y2Y+4Qwc5E4Us3lCn/atw4Qa0b6I7/qwSGUx4Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
